:root {
    --purple: #8C11BE;
    --purple-light: #A328D6;
    --purple-light-hover: #ab2de0;
    --purple-light-selected: #b84de6;
    --red: #C70000;
    --green: #03AC00;
    --gray-superlight: #C6C6C6;
}

body, * {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: var(--purple);
}

.root {
    height: 100%;
    width: 100%;
    padding: 24px;
}